body{
  /* background: radial-gradient(#e5e5e5, #ffff, #e5e5e5); */
 background-color: antiquewhite;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



